
@supports (-webkit-appearance: none) or (-moz-appearance: none) {

    

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #grid-container {
        width: 500px;
        height: 500px;
        background-color: white;
        margin: auto;
        display: grid;
    }

    #change-grid {
        display: inline;
        margin: 0 auto;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
        margin: 20px auto;
    }
}